<h2 class="highlight">Preencha os campos abaixo para efetuar o cadastro</h2>
<div class="devise-panel">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, autofocus: true, 'class' => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, 'class' => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password do %>
        Senha
        <% if @minimum_password_length %>
          <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", 'class' => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, 'Confirme a senha' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", 'class' => "form-control" %>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit "Criar conta", "class" => "btn btn-primary btn-block btn-lg" %>
    </div>

    <br/>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
