#flash-holder {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 340px;
  max-width: calc(100% - 60px);
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  z-index: 1100;

  &:after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-family: FontAwesome;
    content: '\f00d';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #FFF;
  }

  div {
    margin: 0;
    padding: 1.5rem;
    padding-right: 50px;
    font-size: 16px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-color: #444;
    border-radius: 0;

    p { margin: 0; }

    &.notice { background-color: #42B342; }
    &.alert  { background-color: #E58C00; }
    &.error  { background-color: #C74848; }
  }
}
