<%- if controller_name != 'sessions' %>
  <%= link_to "Entrar no sistema", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Criar uma conta", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br />
<% end -%>
