<ol class="breadcrumb">
  <% unless folder.root? %>
    <li><%= link_to 'Raiz', root_url %></li>
  <% end %>

  <% folder.ancestors.reverse.select { |f| f.accessible_by?(current_user) }.each do |folder| %>
    <li><%= link_to folder.name, folder_path(folder) %></li>
  <% end %>

  <li class='text-lg'><%= folder.name %></li>
</ol>
