
<div class="folders-items">
  <div class="row">
    <div class="col-xs-3 col-sm-5 folders-prop">
      <% if policy(file).download? %>
        <%= link_to download_file_path(file), download: file.original_name, target: '_blank' do %>
          <%= file.icon %><%= file.original_name %>
        <% end %>
      <% end %>
      <% if policy(file).destroy? %>
        <%= link_to file_path(file), data: { :confirm => 'Tem certeza que deseja apagar este arquivo?' }, :method => :delete, style: 'color: #B11414', title: 'Excluir arquivo' do %>
        <i class="fa fa-fw fa-lg fa-trash-o"></i>
        <% end %>
      <% end %>
      <input type="hidden" class='file-id' value='<%= file.id %>'/>
      <% if policy(file).toggle_lock? %>
        <%= link_to toggle_lock_file_path(file), method: :post, style: "color: #{file.locked? ? '#B11414' : '#E58C00'}", title: "#{file.locked? ? 'Destrancar' : 'Trancar'} arquivo" do %>
          <i class="fa fa-fw fa-lg <%= file.locked? ? 'fa-lock' : 'fa-unlock' %>"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3 col-sm-2 folders-prop"><%= file.size %></div>
    <div class="col-xs-3 col-sm-2 folders-prop"><%= file.author %></div>
    <div class="col-xs-3 col-sm-3 folders-prop"><%= file.last_modified %></div>
  </div>
</div>
