<div class="folders-items">
  <div class="row">
    <div class="col-xs-3 col-sm-5 folders-prop">
      <%= link_to folder do %>
        <%= folder.icon %><%= folder.name %>
      <% end %>

      <% if policy(folder).manage? %>
        <%= link_to manage_folder_path(folder), title: 'Gerenciar pasta', style: 'color: #E58C00;', class: 'margin-l-sm' do %>
          <i class="fa fa-fw fa-lg fa-cog"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3 col-sm-2 folders-prop"><%= folder.size %></div>
    <div class="col-xs-3 col-sm-2 folders-prop"><%= folder.author %></div>
    <div class="col-xs-3 col-sm-3 folders-prop"><%= folder.last_modified %></div>
  </div>
</div>
