<div class="folders-header">
  <div class="row">
    <div class="col-xs-3 col-sm-5">Nome</div>
    <div class="col-xs-3 col-sm-2">Tamanho</div>
    <div class="col-xs-3 col-sm-2">Criada por</div>
    <div class="col-xs-3 col-sm-3">Modificada em</div>
  </div>
</div>
<% folders.each do |folder| %>
  <%= render partial: 'folder', locals: { folder: folder } %>
<% end %>

<% files.each do |file| %>
  <%= render partial: 'file', locals: { file: file } %>
<% end %>
