<!-- Modal -->
<div class='modal fade bs-example-modal-sm' id='<%= modal_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
  <div class='modal-dialog modal-sm' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
      </div>
      <%= form_tag folder.new_folder_path do %>
        <div class='modal-body'>
          <%= hidden_field_tag 'folder[parent_id]', parent_id %>
          <div class='form-group'>
            <%= label_tag 'folder_name', 'Nome da pasta:' %>
            <%= text_field_tag 'folder[name]', nil, class: 'form-control' %>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Fechar</button>
          <%= submit_tag 'Criar pasta', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
