<%= form_tag upload_files_path, id: 'uploaded_file_form', multipart: true, style: 'display: inline-block;', class: ' margin-v-md' do |f| %>
  <%= hidden_field_tag 'asset[folder_id]', folder.id unless folder.root? %>
  <%= hidden_field_tag 'asset[original_name]', '' %>
  <%= hidden_field_tag 'id', '', id: 'id-to-be-replaced' %>
  <%= label_tag 'asset_uploaded_file', class: 'btn btn-primary' do %>
    <span id='upload-btn-content'>Upload</span>
    <%= file_field_tag 'asset[uploaded_file]', style: 'display: none;'  %>
  <% end %>
<% end %>

<%= content_for :js do %>
  var submitUploadFileForm = function() {
    $('#uploaded_file_form').submit();
  };

  $('#uploaded_file_form').on('change', '#asset_uploaded_file', function() {
    var field    = $(this)
    var fileName = field.val().replace(/.*[\/\\]/, '');
    $('#asset_original_name').val(fileName);

    fileWithSameName = $("a[download='" + fileName + "']");
    if(fileWithSameName.length) {
      var fileId  = fileWithSameName.siblings('.file-id').val()
      var idField = $('#id-to-be-replaced');
      idField.val(fileId);

      if(!confirm('Deseja sobrescrever o arquivo "' + fileName + '"?')){
        idField.val('');
        field.val('');
        return;
      }
    }

    field.parent().addClass('disabled');
    field.siblings('#upload-btn-content').html(
      'Enviando <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>'
    );

    submitUploadFileForm();
    field.prop('disabled', 'disabled');
  });
<% end %>
