<div class='flex-container horizontal'>
  <div class='flex-item padding-xxl'>
    <div class='panel panel-default margin-b-o padding-xxl'>
      <h1 class='margin-t-xs'>Gerenciar Pasta</h1>
      <div class='row'>
        <div class='col-md-4'>
          <div class='well padding-xxl'>
            <h2 class='margin-t-o'>Dados Gerais:</h2>

            <table class='table'>
              <tr>
                <th>Nome:</th>
                <th>Criada por:</th>
              </tr>
              <tr>
                <td><%= @folder.name %></td>
                <td><%= @folder.creator.name %></td>
              </tr>
            </table>

            <div class='divider xl'></div>

            <% if policy(@folder).edit? %>
              <%= form_for @folder do |f| %>
                <div class='form-group'>
                  <%= f.label :folder_name, 'Nome da pasta:' %>
                  <div class='flex-container'>
                    <div class='flex-item'>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    <div class='flex-item fixed padding-l-lg'>
                      <%= submit_tag 'Atualizar', class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <% if policy(@folder).destroy? %>
            <%= link_to folder_path(@folder), data: { :confirm => "Todas as pastas e arquivos contidos nesta pasta também serão apagados!\n\nDeseja continuar?" }, :method => :delete, class: 'btn btn-danger btn-lg btn-block margin-v-xl', title: 'Excluir pasta' do %>
              <i class='fa fa-fw fa-lg fa-trash-o'></i>
              Excluir
            <% end %>
          <% end %>
        </div>

        <div class='col-md-8'>
          <div class='border-md padding-xxl'>
            <h2 class='margin-t-o'>
              Permissões:
              <button id='open-modal' type='button' class='btn btn-primary margin-v-md'>Criar Nova</button>
            </h2>

            <div class='row folders-header'>
              <div class='hidden-xs col-sm-6'>Usuário</div>
              <div class='hidden-xs col-sm-3'>Nível de Acesso</div>
              <div class='hidden-xs col-sm-3'>Opções</div>
            </div>

            <div class='row folders-items'>
              <div class='hidden-xs col-sm-6'><%= @folder.creator.name %></div>
              <div class='hidden-xs col-sm-3'>Criador</div>
            </div>

            <% @folder.access_permits.order_by_user_name.each do |permit| %>
              <%= render partial: 'permissions/permit_detail', locals: { permit: permit.decorate, user: permit.user } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to 'Voltar', :back, class: 'btn btn-default btn-lg margin-v-lg' %>
  </div>
</div>

<%= content_for :body_bottom do %>
  <%= render partial: 'permissions/new', locals: { resource: @folder, modal_id: @folder.modal_id } %>
<% end %>

<%= content_for :js do %>
  $('#open-modal').on('click', function() {
    $('#<%= @folder.modal_id %>').modal('toggle', $(this));
  })
<% end %>
