<div class="flex-container horizontal">
  <div class="flex-item padding-xxl">
    <div class="panel panel-default margin-b-o padding-xxl">
      <%= render partial: 'breadcrumb', locals: { folder: @folder } %>

      <% if policy(@folder).write? %>
        <button id='open-modal' type='button' class='btn btn-primary margin-v-md'>Criar Pasta</button>
        <%= content_for :body_bottom do %>
          <%= render partial: 'new', locals: { folder: @folder, parent_id: @folder.id, modal_id: @folder.modal_id } %>
        <% end %>

        <%= render partial: 'upload_btn', locals: { folder: @folder } %>
        <%= content_for :js do %>
          $('#open-modal').on('click', function() {
            $('#<%= @folder.modal_id %>').modal('toggle', $(this));
          })

          $(document).on('shown.bs.modal', function (e) {
            var modal = $(e.target);
            modal.find('#folder_name').focus();
          })
        <% end %>
      <% end %>

      <%= @folder.display_content %>
    </div>
  </div>
</div>
