<%= form_for user, form_opts do |f| %>
  <div class='row'>
    <div class='col-sm-6 col-md-4 col-lg-3'>
      <div class='form-group'>
        <%= f.label :name, 'Nome:' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class='col-sm-6 col-md-4 col-lg-3'>
      <div class='form-group'>
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email, class: 'form-control', disabled: !current_user.admin? %>
      </div>
    </div>
    <% if manage_admin_status %>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='form-group'>
          <%= f.label :user_level, 'Nível de acesso:' %>
          <%= f.select :user_level, options_for_select(User::USER_LEVELS.map { |lv| [translate_user_level(lv), lv] }, selected: user.user_level), {}, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
<% end %>
