<%= form_for user, form_opts do |f| %>
  <div class='row'>
    <% if require_current_password %>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='form-group'>
          <%= f.label :current_password, 'Senha atual:' %>
          <%= f.password_field :current_password, class: 'form-control', style: 'color:transparent;' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-md-4 col-lg-3'>
      <div class='form-group'>
        <%= f.label :password, 'Nova Senha:' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-md-4 col-lg-3'>
      <div class='form-group'>
        <%= f.label :password_confirmation, 'Confirme a nova Senha:' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit 'Atualizar Senha', :class => 'btn btn-primary' %>
<% end %>

<%= content_for :js do %>
  setTimeout(function() {
    var pswInput = $('#user_current_password');
    pswInput.attr('value', '');
    pswInput.val('');
    pswInput.removeAttr('style');
  }, 200);
<% end %>
