<h2 class='margin-t-xs'>Editar Usuário</h2>

<div class='divider no-margin'></div>

<h2 class='margin-t-xs'><small>Dados pessoais:</small></h2>
<%= render partial: 'form', locals: { user: @user, manage_admin_status: true, form_opts: { url: control_panel_user_path(@user) } } %>

<div class='divider xl'></div>

<h2 class='margin-t-o'><small>Atualizar a Senha:</small></h2>
<%= render partial: 'password_form', locals: { user: @user, require_current_password: false, form_opts: { url: update_password_control_panel_user_path(@user) } } %>

<%= content_for :js do %>
  $('#link-to-users').addClass('active');
<% end %>
