<h2 class='margin-t-xs'>
  Usuários
  <%= link_to 'Criar novo', new_control_panel_user_path, class: 'btn btn-primary' %>
</h2>

<div class='row folders-header hidden-xs hidden-sm'>
  <div class='col-md-3'>Nome</div>
  <div class='col-md-3'>Email</div>
  <div class='col-md-3'>Admin?</div>
</div>

<% @users.each do |user| %>
  <div class='row folders-items'>
    <div class='col-md-3'>
      <span class='hidden-md hidden-lg text-bold'>Nome: </span>
      <%= user.name %>
    </div>
    <div class='col-md-3'>
      <span class='hidden-md hidden-lg text-bold'>Email: </span>
      <%= user.email %>
    </div>
    <div class='col-md-3'>
      <span class='hidden-md hidden-lg text-bold'>Admin? </span>
      <%= user.admin_to_pt %>
    </div>
    <div class='col-md-3'>
      <% if policy(user).edit? %>
        <%= link_to edit_control_panel_user_path(user), title: 'Editar usuário' do %>
          <span style='color: #E58C00;'>
            <i class='fa fa-pencil fa-fw fa-lg'></i>
          </span>
        <% end %>
      <% end %>
      <% if policy(user).destroy? %>
        <%= link_to control_panel_user_path(user), data: { :confirm => "Tem certeza que deseja apagar este usuário?" }, :method => :delete, style: 'color: #B11414', title: 'Excluir usuário' do %>
          <i class="fa fa-fw fa-lg fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :js do %>
  $('#link-to-users').addClass('active');
<% end %>
