<h2 class='margin-t-xs'>Criar Usuário</h2>

<div class='divider no-margin'></div>

<h2 class='margin-t-xs'><small>Dados pessoais:</small></h2>
<%= render partial: 'form', locals: { user: @user, manage_admin_status: true, form_opts: { url: control_panel_users_path } } %>

<%= content_for :js do %>
  $('#link-to-users').addClass('active');
<% end %>
