<div class='flex-container horizontal'>
  <div class='flex-item padding-xxl'>
    <div class='panel panel-default margin-b-o padding-xxl'>
      <h1 class='margin-t-xs'>Meu Perfil</h1>

      <div class='divider no-margin'></div>

      <h3>Dados Pessoais:</h3>
      <%= render partial: 'form', locals: { user: @user, manage_admin_status: false, form_opts: { url: current_user_path } } %>

      <div class='divider xl'></div>

      <h3>Atualizar a Senha:</h3>
      <%= render partial: 'password_form', locals: { user: @user, require_current_password: true, form_opts: { url: update_password_current_user_path } } %>
    </div>
  </div>
</div>
