<h2 class="highlight">Esqueceu a sua senha?</h2>
<div class="devise-panel">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field form-group">
	    <%= f.label :email, 'Email' %><br />
	    <%= f.email_field :email, autofocus: true, "class" => "form-control" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Solicitar reset da senha", "class" => "btn btn-primary btn-block btn-lg" %>
	  </div>

	  <br/>

	<% end %>

	<%= render "devise/shared/links" %>
</div>
