<h2 class='margin-t-xs'>Contatos</h2>

<div class='row folders-header hidden-xs hidden-sm'>
  <div class='col-md-3'>Nome</div>
  <div class='col-md-3'>Email</div>
  <div class='col-md-2'>Contato em</div>
  <div class='col-md-2'>Processado em</div>
</div>

<% @contacts.each do |contact| %>
  <div class='row folders-items'>
    <div class='col-md-3'>
      <span class='hidden-md hidden-lg text-bold'>Nome: </span>
      <%= contact.name %>
    </div>
    <div class='col-md-3'>
      <span class='hidden-md hidden-lg text-bold'>Email: </span>
      <%= contact.email %>
    </div>
    <div class='col-md-2'>
      <span class='hidden-md hidden-lg text-bold'>Contato em: </span>
      <%= contact.formatted_created_at %>
    </div>
    <div class='col-md-2'>
      <span class='hidden-md hidden-lg text-bold'>Processado em: </span>
      <%= contact.formatted_processed_at %>
    </div>
    <div class='col-md-2'>
      <% if policy(contact).process? %>
        <%= link_to contact.contact_processing_link %>
      <% end %>
      <% if policy(contact).destroy? %>
        <%= link_to control_panel_contact_path(contact), data: { :confirm => "Tem certeza que deseja apagar este registro?" }, :method => :delete, style: 'color: #B11414', title: 'Excluir registro' do %>
          <i class="fa fa-fw fa-lg fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :js do %>
  $('#link-to-contacts').addClass('active');
<% end %>
