<div class="alert alert-warning">
  <h4 class='margin-t-o'>Sobre o campo <b>Nível de acesso</b></h4>

  <p><b>LEITURA</b> permite ao usuário a visualização do conteúdo da pasta e de suas pastas internas, bem como o download de qualquer arquivo contido nas mesmas.</p>
  <p><b>ESCRITA</b> permite, além do exposto acima, que o usuário crie pastas e arquivos na pasta compartilhada e suas sub pastas, bem como atualizar qualquer arquivo ali contido.</p>
  <p><b>GERENCIAR</b> permite ao usuário controle total sobre a pasta compartilhada. Torna-se possível ao usuário apagar arquivos e pastas internas, apagar ou editar a própria pasta compartilhada, assim como gerenciar as permissões de acesso da mesma.</p>
</div>
