<!-- Modal -->
<div class='modal fade bs-example-modal-sm' id='<%= modal_id %>' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class="modal-title">Editar Permissão</h4>
      </div>
      <%= form_for [permit.resource, permit] do |f| %>
        <div class='modal-body'>
          <div class='form-group'>
            <%= f.label :permission_user_id, 'Usuário:' %>
            <%= f.select :user_id, options_for_select(User.order(:name).map { |u| [u.name, u.id] }, selected: permit.user_id), {}, class: 'form-control', disabled: :disabled %>
          </div>

          <div class='form-group'>
            <%= f.label :permission_user_id, 'Nível de acesso:' %>
            <%= f.select :access_level, options_for_select(AccessPermit::ACCESS_LEVELS.map { |lv| [translate_access_level(lv), lv] }, selected: permit.access_level), {}, class: 'form-control' %>
          </div>

          <%= render partial: 'permissions/access_level_description' %>

        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Fechar</button>
          <%= submit_tag 'Salvar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
