<!-- Modal -->
<div class='modal fade bs-example-modal-sm' id='<%= modal_id %>' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class="modal-title">Nova Permissão</h4>
      </div>
      <%= form_tag folder_access_permits_path(resource) do %>
        <div class='modal-body'>
          <%= hidden_field_tag 'access_permit[resource_id]', resource.id %>
          <%= hidden_field_tag 'access_permit[resource_type]', resource.object_class.name %>
          <div class='form-group'>
            <%= label_tag 'access_permit_user_id', 'Usuário:' %>
            <%= select_tag 'access_permit[user_id]', options_from_collection_for_select(User.order(:name), 'id', 'name'), include_blank: 'Selecione um usuário', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= label_tag 'access_permit_access_level', 'Nível de acesso:' %>
            <%= select_tag 'access_permit[access_level]', options_for_select(AccessPermit::ACCESS_LEVELS.map { |lv| [translate_access_level(lv), lv] }), include_blank: 'Selecione o nível de acesso', class: 'form-control' %>
          </div>

          <%= render partial: 'permissions/access_level_description' %>

        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Fechar</button>
          <%= submit_tag 'Salvar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
