<div class='row folders-items'>
  <div class='col-sm-6'><%= user.name %></div>
  <div class='col-sm-3'><%= permit.access_level_translated %></div>
  <div class='col-sm-3'>
    <%= link_to folder_access_permit_path(permit.resource, permit), data: { :confirm => "Tem deseja que deseja remover esta permissão de acesso?" }, :method => :delete, style: 'color: #B11414', class: 'margin-l-md', title: 'Excluir permissão de acesso' do %>
      <i class="fa fa-fw fa-lg fa-trash-o"></i>
    <% end %>

    <span id='open-modal-for-<%= permit.modal_id %>' style='color: #E58C00; cursor: pointer;', title='Editar permissão de acesso'>
      <i class='fa fa-pencil fa-fw fa-lg'></i>
    </span>
  </div>
</div>

<%= content_for :body_bottom do %>
  <%= render partial: 'permissions/edit', locals: { permit: permit, modal_id: "edit-#{permit.modal_id}" } %>
<% end %>

<%= content_for :js do %>
  var modal<%= permit.modal_id %> = $('#edit-<%= permit.modal_id %>');
  $('#open-modal-for-<%= permit.modal_id %>').on('click', function() {
    modal<%= permit.modal_id %>.modal('toggle', $(this));
  })
<% end %>
