<h2 class="highlight">Faça login para continuar</h2>
<div class="devise-panel">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email, 'Email' %><br />
      <%= f.email_field :email, autofocus: true, 'class' => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password, 'Senha' %><br />
      <%= f.password_field :password, autocomplete: "off", 'class' => "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Permanecer conectado' %>
      </div>
    <% end %>

    <br/>

    <div class="actions">
      <%= f.submit "Entrar", "class" => "btn btn-primary btn-block btn-lg" %>
    </div>

    <br/>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
