@import 'shared';

#top-bar {
  flex-shrink: 0;
  flex-grow: 0;

  background-color: $primary_color;
  padding: 0 10px;
  width: 100%;
  color: #ECECEC;

  .dropdown {
    &.open, &:hover { background-color: #3572B0; }
    .dropdown-toggle {
      padding: 8px;
      cursor: pointer;
    }
  }
}

#main {
  position: relative;
  background-color: #ECECEC;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;

  #content {
    flex-grow: 1;
  }
}


#footer {
  background-color: #22527B;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}
