$border-sizes: (
  md 1px,
  lg 2px,
  xl 4px,
  xxl 8px
);

$border-styles: (
  "dashed",
  "dotted",
  "double",
  "inset",
  "outset",
  "solid",
);

$space-sides: (
  t ("top"),
  b ("bottom"),
  l ("left"),
  r ("right"),
  v ("bottom" "top"),
  h ("right" "left")
);

@mixin border-defaults {
  border-style: solid;
  border-color: #ccc;
}

.border-radius-full { border-radius: 100%;  }

// generate border-md
@each $border-size in $border-sizes {
  $key: nth($border-size, 1);
  $value: nth($border-size, 2);
  .border-#{$key}{
    @include border-defaults;
    border-width: $value;
  }
}

// generate: border-t-md
@each $side in $space-sides {
  $side-name:  nth($side, 1);
  $side-values: nth($side, 2);

  .border-#{$side-name}-o, .border-#{$side-name}-none {
    @each $side-value in $side-values {
      border-#{$side-value}-width: 0 !important;
    }
  }

  @each $border-size in $border-sizes {
    $border-size-name:  nth($border-size, 1);
    $border-size-value: nth($border-size, 2);

    .border-#{$side-name}-#{$border-size-name}{
      @each $side-value in $side-values {
        @include border-defaults;
        border-#{$side-value}-style: solid;
        border-#{$side-value}-width: $border-size-value;
      }
    }
  }
}

@each $style in $border-styles {
  .border-#{$style} {
    @include border-defaults;
    border-style: #{$style} !important;
  }
}
