.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;

  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.lg {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.xl {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
