$sidemenu-width: 280px;
$header-height: 90px;

#cp-wrapper {
  height: 100%;

  #cp-header {
    background-color: #DDD;
    border-bottom: 1px solid #AAA;
  }

  #cp-body {
    display: flex;
    align-items: stretch;
    height: calc(100% - #{$header-height});

    #side-menu {
      flex-shrink: 0;
      flex-grow: 0;
      width: $sidemenu-width;
      border-right: 1px solid #AAA;

      a {
        display: block;
        padding: 7px 10px;
        line-height: 1.15;
        word-wrap: break-word;
        color: #3572b0;

        &.active {
          color: #EEE;
          background-color: #808080;
          cursor: default;
        }

        &:not(.active):hover {
          background-color: #D4D4D4;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    #cp-content { flex-grow: 1; }
  }
}
