.cursor-default     { cursor: default     !important; }
.cursor-pointer     { cursor: pointer     !important; }
.cursor-move        { cursor: move        !important; }
.cursor-wait        { cursor: wait        !important; }
.cursor-not-allowed { cursor: not-allowed !important; }
