@import 'shared';

$bg-color: #F3F3F4;
$contrast-color: darken($bg-color, 15%);

.custom-checkbox {
  position: relative;
  display: inline-block;

  input[type='checkbox'] {
    display: none;

    + .checkbox-label {
      cursor: pointer;

      &:before {
        content: '';
        border: 2px solid $contrast-color;
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        position: absolute;
        top: 0;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
      }

      &:after {
        content: '';
        width: 1em;
        height: .5em;
        position: absolute;
        top: .3em;
        z-index: 1;
        border: 4px solid $primary-color;
        border-top-style: none;
        border-right-style: none;
        transition: transform .3s cubic-bezier(.45,1.8,.5,.75);
        transform: rotate(-45deg) scale(0, 0);
      }
    }

    &:checked {
      + .checkbox-label {
        &:after {
          transform: rotate(-45deg) scale(1, 1);
        }
      }
    }

    &:focus {
      + .checkbox-label {
        &:after {
          outline: none;
          border-color: $primary-color;
        }
      }
    }

    &:disabled {
      + .checkbox-label {
        cursor: not-allowed;

        &:before {
          cursor: not-allowed;
        }
        &:after {
          border-color: $contrast-color;
          cursor: not-allowed;
        }
      }
    }
  }

  &:not(.right), &.left {
    input[type='checkbox'] {
      + .checkbox-label {
        padding-left: 1.8em;

        &:before { left: 0;     }
        &:after  { left: 0.15em; }
      }
    }
  }

  &.right {
    input[type='checkbox'] {
      + .checkbox-label {
        padding-right: 1.8em;

        &:before { right: 0;     }
        &:after  { right: 0.15em; }
      }
    }
  }
}
