/*
 *= require font-awesome
 *= require_tree ./commons
 */

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;

	background-color: #5A5B5D;
}

.devise-panel {
	min-width: 480px;
	max-width: 90%;

	background-color: #D4D9DE;
	color: #22527B;

	padding: 40px 50px 20px;
	margin: 0 auto 40px;

	#error_explanation {
		background-color: #FAE7E7;
		border: 1px solid #C74848;
		border-radius: 6px;
		color: #C74848;
		padding: 10px;
		margin-bottom: 35px;

		& > {
			h2 { text-align: center; }
			ul { list-style-type: none; }
		}
	}

	.field_with_errors {
		color: #C74848;

		input {
			background-color: #FAE7E7;
			border-color: #C74848;

			&:focus {
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(233, 102, 102, 0.6);
			}
		}
	}
}

h2.highlight {
	margin-top: 110px;
	text-align: center;
	color: #ECECEC;
}
