.flex-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display:    -moz-box;
  display: -webkit-flex;
  display:         flex;

  &.horizontal { flex-direction: row; }
  &.vertical   { flex-direction: column; }
  &.horizontal-reverse { flex-direction: row-reverse; }
  &.vertical-reverse   { flex-direction: column-reverse; }

  & > .flex-item {
    flex: 1 1 auto;

    &.fixed {
      flex: 0 0 auto;
    }

    &.align-start {
      align-self: flex-start;
    }

    &.align-end {
      align-self: flex-end;
    }

    &.align-center {
      align-self: center;
    }

    &.align-baseline {
      align-self: baseline;
    }

    &.align-stretch {
      align-self: stretch;
    }
  }
}
