.folders-header, .folders-items {
  padding-left: 15px;

  &, .folders-prop {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.folders-header {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #DDD;
}

.folders-items {
  padding-top: 10px;
  padding-bottom: 8px;

  &:hover {
    background-color: #F5F5F5;
  }

  a.folders-prop {
    &:hover {}
  }
}

.folders-items + .folders-items {
  border-top: 1px solid #DDD;
  padding-top: 8px;
}

