$base-size: .4em;
$sizes: (
  xs  $base-size - .2em,
  sm  $base-size,
  md  $base-size + .3em,
  lg  $base-size + .6em,
  xl  $base-size + .9em,
  xxl $base-size + 1.2em
);

$space-sides: (
  t ("top"),
  b ("bottom"),
  l ("left"),
  r ("right"),
  v ("bottom" "top"),
  h ("right" "left")
);

@function text-size($size-name) {
  @each $size in $sizes {
    $key: nth($size, 1);
    $value: nth($size, 2);

    @if $size-name == $key { @return $value + .6em; }
  }
}

@each $size in $sizes {
  $size-name: nth($size, 1);
  $size-value: nth($size, 2);

  .text-#{$size-name}  { font-size: text-size($size-name);  }
}

@each $size in $sizes {
  $size-name: nth($size, 1);
  $size-value: nth($size, 2);

  .margin-#{$size-name}  { margin: $size-value;  }
  .padding-#{$size-name} { padding: $size-value; }

  @each $side in $space-sides {
    $side-name:  nth($side, 1);
    $side-values: nth($side, 2);

    .margin-#{$side-name}-#{$size-name} {
      @each $side-value in $side-values {
        margin-#{$side-value}: $size-value;
      }
    }

    .padding-#{$side-name}-#{$size-name} {
      @each $side-value in $side-values {
        padding-#{$side-value}: $size-value;
      }
    }
  }
}

// margin none
.margin-none, .margin-o { margin: 0 !important }
@each $side in $space-sides {
  $side-name:  nth($side, 1);
  $side-values: nth($side, 2);

  .margin-#{$side-name}-none, .margin-#{$side-name}-o {
    @each $side-value in $side-values{
      margin-#{$side-value}: 0 !important;
    }
  }
}

// padding -none -o, remove padding
.padding-none, .padding-o { padding: 0 !important }
@each $side in $space-sides {
  $side-name:  nth($side, 1);
  $side-values: nth($side, 2);

  .padding-#{$side-name}-none, .padding-#{$side-name}-o {
    @each $side-value in $side-values{
      padding-#{$side-value}: 0 !important;
    }
  }
}
