<div class='dropdown'>
  <div class='dropdown-toggle' data-toggle='dropdown'>
    <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x"></i>
    </span>
  </div>
  <ul class='dropdown-menu dropdown-menu-right'>
    <li class='dropdown-header'>
      <h5>
        <div><%= current_user.name %></div>
        <div class='text-sm margin-t-sm'>
          <%= current_user.email %>
        </div>
      </h5>
    </li>
    <li><%= link_to 'Meu Perfil', profile_current_user_path %></li>

    <li role='separator' class='divider'></li>

    <li><%= link_to 'Cloud Storage', folders_path %></li>
    <% if policy(:control_panel).show? %>
      <li><%= link_to 'Painel de Controle', control_panel_path %></li>
    <% end %>

    <li role='separator' class='divider'></li>

    <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
