<% if flash.any? %>
  <%= content_tag :div, :id => 'flash-holder' do %>
    <% flash.each do |name, msgs| %>
      <% next if name == 'timedout' %>
      <%= content_tag :div, :class => name do %>
        <% Array(msgs).uniq.each do |msg| %>
          <%= content_tag :p, msg %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
