<div id='side-menu' class='padding-lg'>
  <ul class='list-unstyled text-xl'>
    <li><%= link_to 'Usuários', control_panel_users_path, id: 'link-to-users' %></li>
    <li><%= link_to 'Contatos', control_panel_contacts_path, id: 'link-to-contacts' %></li>
  </ul>
</div>
