<!DOCTYPE html>
<html>
  <head>
    <title>Cloud - Staysafe</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/top_bar' %>
    <div id="main">
      <%= render partial: 'layouts/flash_messages' %>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
    <%= yield :body_bottom %>
  </body>
</html>

<script type="text/javascript">
  $(function(){
    <%= yield :js %>
  });
</script>
