<%= extends :application do %>
  <div id='cp-wrapper'>
    <h1 id='cp-header' class='margin-o padding-v-md align-center'>Painel de Controle</h1>
    <div id='cp-body'>
      <%= render partial: 'layouts/side_menu' %>
      <div id='cp-content'>
        <div class="padding-xxl">
          <div class="panel panel-default margin-b-o padding-xxl">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
