<!DOCTYPE html>
<html>
  <head>
    <title>Cloud - Staysafe</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render partial: 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
